@font-face {
  font-family: "Greatvibes Regular";
  src: url("../fonts/GreatVibes-Regular.otf");

}

body {
  background-color: azure;
}

p {
    color:darkcyan;
    font-size: 20px;
    text-align: center;
    line-height: 2;
}

h1 {
    text-align: center;
    color:blue;
}


.rules > ol > li {
    color: green;
    text-align: center;
    font-weight: bold;
    line-height: 4;
}

.text-bold {
    font-weight: bold;
}

.text-dark {
    color: black;
}

.red {
    color: red;
}

#blue {
    color: blue;
}
  
  #main {
    color: white;
    width: 750px;
  }
  
  .text-white {
    color: white;
  }
  
  
.menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
  

  .english {
    font-family: "Greatvibes Regular", "Arial", serif;
    font-style: normal;
  }

  .aboutWiki {
    column-count: 2;
    column-width: 650px;
    column-gap: 32px;
    column-rule: 2px solid black;
  }

  .aboutWiki p {
    margin-top: 0;
    color: #333333;

  }