p {
    color:darkcyan;
    font-size: 20px;
    text-align: center;
}

h1 {
    text-align: center;
    color:blue;
}

.content {
    background-color: white;
}

.rules > ol > li {
    color: green;
}

.text-bold {
    font-weight: bold;
}

.text-dark {
    color: black;
}

.red {
    color: red;
}

#blue {
    color: blue;
}

div {
    width: 500px;
    height: 500px;
  
    background: #333333;
  }
  
  #main {
    color: white;
    width: 750px;
  }
  
  .text-white {
    color: white;
  }
  
  .alert {
    height: 350px;
    color: gray;
  }
  
  div {
    background: blue;
  }
  
  .alert-warning {
    background: #000000;
    color: yellow;
  }